@namespace Arshia_Store.Application.Serivces.Products.Queries.GetProductDetailForAdmin
@model ProductDetailDto
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title-wrap bar-warning">
                <div class="card-title">اطلاعات بیشتر در مورد محصول</div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>  محصول</a></span>
                                <span class="line-height-2 display-block overflow-hidden">@Model.Name</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-briefcase font-small-3"></i> برند </a></span>
                                <span class="line-height-2 display-block overflow-hidden"> @Model.Brand</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> دسته بندی</a></span>
                                <span class="line-height-2 display-block overflow-hidden">@Model.Category</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> قیمت </a></span>
                                <span class="line-height-2 display-block overflow-hidden"> @Model.Price.ToString("n0")</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> موجودی</a></span>
                                <span class="line-height-2 display-block overflow-hidden">@Model.Inventory</span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> نمایش در سایت؟</a></span>
                                <span class="line-height-2 display-block overflow-hidden"> @Model.Display</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>  توضیحات </a></span>
                                <br />
                                <span class="line-height-2 display-block overflow-hidden">@Model.Description</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        <div class="card-title-wrap bar-success">
            <div class="card-title">تصاویر و ویژگی های محصول</div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-block">
            <div class="row">
                <div class="col-4 col-sm-4">
                    <ul class="no-list-style pr-0 text-right fa-bold">
                        @foreach (var item in Model.Features)
                        {
                            <li class="mb-2">
                                <span class="text-bold-500 primary"><a><i class="icon-frame font-small-3"></i> @item.DisplayName :</a></span>
                                <span class="display-block overflow-hidden"> @item.Value</span>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-8 col-sm-8 text-center" >

                    @foreach (var item in Model.Images)
                    {
                        <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                            <a target="_blank" href="~/@item.Src">
                                <img width="200" height="200" class="img-thumbnail img-fluid" src="~/@item.Src">
                            </a>
                        </figure>
                    }


                </div>

            </div>


        </div>
    </div>
</div>

@section Scripts
{}

@section Modals
{}