@using Arshia_Store.Application.Serivces.Users.Queries.GetUsers;
@model ResulteGetUserDto;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست کاربران</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text">لیست کاربران فروشگاه</p>

                                <form method="get" class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <input type="text" class="form-control" name="searchkey">
                                        <button class="btn btn-success">جستجو</button>
                                    </fieldset>
                                </form>

                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;">نام</th>
                                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 401px;">ایمیل</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach(var item in Model.Users)
                                                    {
                                                        <tr role="row" class="odd">
                                                            <td class="sorting_1">@item.FullName</td>
                                                            <td>@item.Email</td>
                                                            <td>
                                                                <button class="btn btn-info" onclick="ShowModalEditUser('@item.Id', '@item.FullName', '@item.Email')">ویرایش</button>
                                                                <button class="btn btn-danger" onclick="DeleteUser('@item.Id')">حذف</button>
                                                                @if(item.IsActive == true)
                                                                {
                                                                    <button class="btn btn-warning" onclick="UserStatusChange('@item.Id')">غیر فعال</button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-info" onclick="UserStatusChange('@item.Id')">فعال</button>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                                @*<tfoot>
                            <tr><th rowspan="1" colspan="1">نام</th><th rowspan="1" colspan="1">ایمیل</th><th rowspan="1" colspan="1">اداره</th><th rowspan="1" colspan="1">سن</th><th rowspan="1" colspan="1">تاریخ شروع</th><th rowspan="1" colspan="1">حقوق</th></tr>
                        </tfoot>*@
                                            </table>
                                        </div>
                                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">نمایش 1 تا 10 از 57 سطرها</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0" class="page-link">بعدی</a></li></ul></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

@section Scripts
{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script>

        function DeleteUser(UserId)
        {
            swal.fire(
                {
                    title: 'حذف کاربر',
                    text: "کاربر گرامی از حذف کاربر مطمئن هستید؟",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#7cacbe',
                    confirmButtonText: 'بله ، کاربر حذف شود',
                    cancelButtonText: 'خیر'
                }
            ).then((result) =>
            {
                if(result.value)
                {
                    var postData = {
                        'UserId': UserId
                    };

                    $.ajax(
                        {
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: 'json',
                            type: "POST",
                            url: "User/Delete",
                            data: postData,
                            success: function (data)
                            {
                                if(data.isSuccess == true)
                                {
                                    swal.fire(
                                        'موفق!',
                                        data.message,
                                        'success'
                                    ).then(function (isConfirm)
                                    {
                                        location.reload();
                                    });
                                }
                                else
                                {
                                    swal.fire(
                                        'هشدار!',
                                        data.message,
                                        'warning'
                                    );
                                }
                            },
                            error: function (request, status, error)
                            {
                                alert(request.responseText);
                            }
                        });
                }
            })
        }

        function UserStatusChange(UserId)
        {
            swal.fire(
                {
                    title: "تغییر وضعیت کاربر",
                    text: "از تغییر وضعیت کاربر مطمئن هستید؟",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#7cacbe",
                    confirmButtonText: "بله ، تغییر وضعیت انجام شود",
                    cancelButtonText: "خیر ",
                }).then((result) =>
                {
                    if(result.value)
                    {
                        var postData = {
                            "UserId": UserId
                        };

                        $.ajax(
                            {
                                contentType: 'application/x-www-form-urlencoded',
                                dataType: 'json',
                                type: "POST",
                                url: "User/UserStatusChange",
                                data: postData,
                                success: function (data)
                                {
                                    if(data.isSuccess == true)
                                    {
                                        swal.fire(
                                            'موفق!',
                                            data.message,
                                            'success'
                                        ).then(function (isConfirm)
                                        {
                                            location.reload();
                                        });
                                    }
                                    else
                                    {
                                        swal.fire(
                                            'هشدار!',
                                            data.message,
                                            'warning'
                                        );
                                    }
                                },
                                error: function (request, status, error)
                                {
                                    alert(request.responseText);
                                }
                            });
                    }
                })
        }

        function Edituser()
        {
            var userId = $("#Edit_UserId").val();
            var fullName = $("#Edit_Fullname").val();
            var email = $("#Edit_Email").val();

            var postData = {
                'UserId': userId,
                'FullName': fullName,
                'Email': email
            };


            $.ajax(
                {
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "User/Edit",
                    data: postData,
                    success: function (data)
                    {
                        if(data.isSuccess == true)
                        {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm)
                            {
                                location.reload();
                            });
                        }
                        else
                        {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );
                        }
                    },
                    error: function (request, status, error)
                    {
                        alert(request.responseText);
                    }
                });

            $('#EditUser').modal('hide');
        }


        function ShowModalEditUser(UserId, fullName, Email)
        {
            $('#Edit_Email').val(Email)
            $('#Edit_Fullname').val(fullName)
            $('#Edit_UserId').val(UserId)

            $('#EditUser').modal('show');

        }
    </script>
}


@section Modals
{
    <!-- Modal Edit User -->
    <div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ویرایش کاربر</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <input type="hidden" id="Edit_UserId" />
                            <label for="basicInput">نام و نام خانوادگی</label>
                            <input type="text" class="form-control" id="Edit_Fullname">
                            <br />
                            <label for="basicInput">ایمیل</label>
                            <input type="text" class="form-control" id="Edit_Email" />
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">بستن</a>
                    <a class="btn btn-primary" onclick="Edituser()">اعمال تغییرات</a>
                </div>
            </div>
        </div>
    </div>
}

